<canvas #renderCanvas touch-action="none"></canvas>
<input #sayInput class="say" placeholder="Talk..." [hidden]="!showSay" />
<div class="intro-modal" *ngIf="showIntro">
  <h2 [hidden]="showList">You're about to learn the following</h2>
  <div [ngClass]="{ 'quiz-item': !showList }" *ngFor="let item of quiz; let i = index" (click)="replace(i)">
    <b>{{ item.answer }}</b><br />
    {{ item.question }}
  </div>
  <div class="instructions">
    <b class="sm">Instructions</b><br />
    Collect words you don't know and talk with friends<br />
    Answer all purple shirt lady's questions to win<br />
    Arrow keys to move, space to climb walls, R to restart
  </div>
  <div [hidden]="showList" class="show-link" (click)="toggleSettings()">Change difficulty</div>
  <div *ngIf="showSettings">
    <input type="number" [(ngModel)]="gameSettings.count" />
  </div>
  <button (click)="go()">{{ !showList ? 'Let\'s go!' : 'Keep going' }}</button>
</div> 