<canvas #renderCanvas touch-action="none"></canvas>
<input #sayInput placeholder="Talk..." [hidden]="!showSay" />
<div class="intro-modal" *ngIf="showIntro">
  <h2>You're about to learn the following</h2>
  <div *ngFor="let item of quiz">
    <b>{{ item.answer }}</b><br />
    {{ item.question }}
  </div>
  <br />
  <b>Instructions</b>
  Answer all purple shirt lady's questions to win<br />
  Talk with the friends for practice<br />
  Arrow keys to move, space to climb walls, R to restart
  <br />
  <br />
  <button (click)="go()">Let's go!</button>
</div>